services:
  - type: web
    name: url-shortener-backend
    env: node
    rootDir: BACKEND
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        fromService:
          type: web
          name: url-shortener-frontend
          property: url

  - type: web
    name: url-shortener-frontend
    env: static
    rootDir: FRONTEND
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: url-shortener-backend
          property: url
